/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/*media query para padding-top*/
@media all and(max-width: 480px){
  #wrap > .container {
    padding-top: 0px;
  }
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height - IGUAL A LA ALTURA DE FOOTER*/
  margin: 0 auto -80px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
  height: 80px;
}
#footer {
  background-color: #f5f5f5;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* Custom page CSS
-------------------------------------------------- */
/*media query para padding-top*/
@media (max-width: 970px){
  #wrap > .container {
    padding-top: 0px;
  }
}
.container .credit {
  margin: 20px 0;
}
/* estilo la barra*/
.container{
  max-width: 970px;
}
/* estilo del pie*/
.pie{
  font-size: 12px;
}