Options +FollowSymLinks -Indexes
Options -MultiViews

RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond $1 !^(index.php)

RewriteRule ^([a-zA-Z0-9_/-]+)$ index.php?url=$1 [QSA,L]